Repository taiyoo/vri-ai-assistant: changes, and which lefthook commands are due for each by the changed paths.
All: black, mypy, prettier, eslint

black:
  run: poetry run black {staged_files}

mypy:
  run: poetry run mypy --config-file mypy.ini {staged_files}

prettier:
  run: npx prettier --write {staged_files}

eslint:
  run: npx eslint --fix --max-warnings=0 {staged_files}

Allow Claude models. Update repo url. Disable MCP tool in Livekit agent, this function still need hardening.
  backend/app/livekit_agent.py
  bin.sh
  frontend/src/hooks/useModel.ts
Due: black, mypy, prettier, eslint

Livekit agent use default VPC.
  cdk/bin/bedrock-chat.ts
  cdk/lib/bedrock-ai-assistant-stack.ts
  cdk/lib/constructs/livekit-agent-ec2.ts
Due: none

feat: implement comprehensive Testing & Simulation framework for multi-agent platform
  careagent/TODO.md
  careagent/src/utils/metrics.py
  careagent/tests/IMPLEMENTATION_SUMMARY.md
  careagent/tests/README.md
  careagent/tests/demo.py
  careagent/tests/load_test.py
  careagent/tests/run_tests.py
  careagent/tests/simple_test.py
  careagent/tests/test_router.py
  careagent/tests/test_simulation.py
Due: none

feat: implement comprehensive CareAgent architecture with multi-agent system
  careagent/.env.example
  careagent/README.md
  careagent/docker-compose.yml
  careagent/pyproject.toml
  careagent/requirements.txt
  careagent/src/api.py
  careagent/src/bedrock_agents/__init__.py
  careagent/src/bedrock_agents/adl_agent.py
  careagent/src/bedrock_agents/base.py
  careagent/src/bedrock_agents/behavior_agent.py
  careagent/src/bedrock_agents/clinical_agent.py
  careagent/src/bedrock_agents/governance_agent.py
  careagent/src/bedrock_agents/medication_agent.py
  careagent/src/config.py
  careagent/src/intent_classifier.py
  careagent/src/livekit_agent.py
  careagent/src/router.py
  careagent/src/utils/logging.py
  careagent/start-livekit-agent.sh
  careagent/test_implementation.py
  careagent/tests/test_execution_summary_20251015_133412.json
  careagent/tests/test_report_20251015_133343.json
  careagent/tests/test_report_20251015_133354.json
  careagent/tests/test_report_20251015_133403.json
  careagent/tests/test_report_20251015_133412.json
  careagent/tests/test_report_20251015_134328.json
Due: none

feat: restore improved frontend deployment script
  frontend-deploy.sh
  frontend/.env.template
Due: none

feat: implement AI4AgedCare design theme with full dark mode support
  frontend/package-lock.json
  frontend/src/components/AuthAmplify.tsx
  frontend/src/components/Button.tsx
  frontend/src/components/ButtonIcon.tsx
  frontend/src/components/Drawer.tsx
  frontend/src/components/DrawerItem.tsx
  frontend/src/components/ExpandableDrawerGroup.tsx
  frontend/src/components/InputText.tsx
  frontend/src/components/Menu.tsx
  frontend/src/i18n/en/index.ts
  frontend/src/index.css
  frontend/src/layouts/AppContent.tsx
  frontend/src/layouts/ListPageLayout.tsx
  frontend/src/pages/ChatPage.tsx
  frontend/tailwind.config.js
  frontend/vite.config.ts
Due: prettier, eslint

Path conditions:
  black: any of: **/*.py and ^backend/
  mypy: any of: **/*.py and ^backend/
  prettier: any of: **/*.{js,jsx,ts,tsx,vue,json,md,yml,yaml} and ^frontend/
  eslint: any of: **/*.{js,jsx,ts,tsx,vue} and ^frontend/
